body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(#ff9a9e, #fad0c4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: white;
}

#welcome img {
    width: 300px;
}

#envelope {
    width: 300px;
    cursor: pointer;
    transition: transform 0.3s;
}

#envelope:hover {
    transform: scale(1.1);
}

.click-text {
    color: white;
}

svg {
    width: 200px;
}

#message {
    color: white;
    font-size: 24px;
    margin-top: 20px;
}
